extends layout 

block content 
    form(action="/new" method="post")
        h1 Enter Message 
        label(for="name") Name: 
        input(type="text" name="name" required)

        label(for="message" id="second") Mesage: 
        textarea(name="message" rows="3" required)

        button(type="submit") Submit
    a(href="/") Back