extends layout 

block content 
    h1 Enter Message 
    form(action="/new" method="post")
        .form-group
            input.form-control(type='text', id='name', name='name', placeholder=' ')
            label.floating-label(for='name') Name
        .form-group
            textarea.form-control(id='message', rows='4', name='message' placeholder=' ')
            label.floating-label(for='message') Message
        button(type="submit") Submit
    a(href="/") Back