
body {
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  padding: 2px;
  width: 95%;
  height: 90%;
  overflow: scroll;
  overflow-x: hidden;
}

li {
  padding-left: 3px;
  padding-right: 3px;
  list-style: none;
  transition: box-shadow .5s;
  width: 97%;
  margin-top: .25rem;
  margin-bottom: .5rem;
  border-radius: 7px;
  border-bottom: 1px solid lightgrey;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

li:hover, a:hover, button:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

a {
  margin: 2rem;
}

#second {
  margin-top: 1rem;
}

button{
  cursor: pointer;
  color: #0842a0;
  border-radius: 4px;
  border: 2px solid #0842a0;
  padding: 7px;
  max-width: 50%;
  align-self: center;
  justify-self: center;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-control {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.floating-label {
  padding: .25rem;
  position: absolute;
  top: 1.5rem;
  color: gray;
  font-style: italic;
  left: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.form-control:focus + .floating-label,
.form-control:not(:placeholder-shown) + .floating-label {
  font-size: 0.75rem;
  top: -0.25rem;
}

h1 {
  flex-shrink: 1;
  color: #0842a0;
  font-size: 2rem;
  border-bottom: 2px solid #0842a0;
}

h2 {
  color: #0842a0;
  font-size: 1.5rem;
}

button:hover, a:hover {
  background-color: #0842a0;
  color: white;
}

a {
  text-decoration: none;
  border-radius: 3px;
  padding: 5px;
  border: 2px solid #0842a0;
  color: #0842a0;
}

#div {
  display: flex;
  justify-content: center;
  flex-grow: 2;
  color: #0842a0;
  padding-left: 1rem;
}

p {
  padding: 2px;
  margin: 0;
}

#first {
  border-right: 1px solid lightgrey;
}

header {
  padding: 1rem;
  width: 100vw;
  display: flex;
  align-items: baseline;
  border-bottom:2px solid #0842a0;
  margin-bottom: 1rem;
  box-shadow: 0 8px 6px -6px black;
}

form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
